
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1> <a href ="/post">New feed 1 </h1>
</head>
<body>
    

    <p>
        Tại cuộc tiếp Bộ trưởng Thương mại, Du lịch và Ðầu tư Australia Dan Tehan ngày 13/7, 
    Chủ tịch nước Nguyễn Xuân Phúc nhấn mạnh, Việt Nam và Australia đều là các thành viên 
    tích cực của Hiệp định Ðối tác toàn diện và tiến bộ xuyên Thái Bình Dương (CPTPP) có 
    hiệu lực từ năm 2018 và Hiệp định Ðối tác kinh tế toàn diện khu vực (RCEP) dự kiến sớm 
    đi vào thực thi.
    
    </p>
</body>
</html>
